* {
  box-sizing: border-box;
}

body {
  background-color: var(--Cream);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
